<!--         start footer -->
<footer class="pt-120  bg-dark">
            <section class="top-footer pb-120">
               <!--Container-->
               <div class="container ">
                  <div class="row">
                     <div class="col-sm-4 col-sm-offset-2">
                        <h2 class="sub-title-3 mb-30">About</h2>
                        <p class="">Ad mortem te, Catalina, duci iussu consulis iam pridem oportebat, in te conferri pestem quam tu in nos omnes iam diu machinaris ac vitamus. </p>
                        <ul class="block-social mt-20">
                           <li><a href="#"><i class="icon-facebook"></i></a></li>
                           <li><a href="#"><i class="icon-twitter"></i></a></li>
                           <li><a href="#"><i class="icon-youtube"></i></a></li>
                           <li><a href="#"><i class="icon-gplus"></i></a></li>
                           <li><a href="#"><i class="icon-instagram-1"></i></a></li>
                        </ul>
                     </div>
                     <div class="col-sm-4">
                        <h2 class="sub-title-3 mb-30">Instagram</h2>
                        <ul class="insta-Feed" id="instafeed"></ul>
                     </div>
                  </div>
               </div>
               <!--End container-->
            </section>
            <div class="bottom-footer bg-black pt-50 pb-50">
               <!--Container-->
               <div class="container ">
                  <div class="row">
                     <div class="col-md-6">
                       <p>
                        © Copyright {{ year }} All Rights Reserved by
                        <a href="https://rubycommunity.africa/">
                            Africa Ruby Community</a
                        >
                    </p>
                     </div>
                     <div class="col-md-6 ">
                        <ul class="block-legal">
                           <li><a href="#">Privacy Policy</a>
                           <li><a  href="#">Terms of Use</a></li>
                           <li><a  href="#">About</a></li>
                           <li><a  href="#">Legal</a></li>
                           <li><span><a class="gradient-text scroll" href="#wrapper">Back To Top</a></span></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <!--End container-->
            </div>
         </footer>
<!--         start footer -->